
<div class="well">
  <div id="search">
    <label for="inputSearch">Search contacts</label>
    <select id="inputSearch" ui-select2="select2cfg" ng-model="selectedContact" data-placeholder="Search for a contact" data-allow-clear="true">
      <option value=""></option>
      <option ng-repeat="contact in contacts" value="{{contact.id}}">{{formatSearchResult(contact)}}</option>
    </select>
  </div>
</div>
<form name="contactForm" novalidate="novalidate" class="well">
  <div class="form-group">
    <label for="inputContactName">Contact Name</label>
    <input id="inputContactName" type="text" name="contactName" placeholder="Enter contact name" ng-model="currentContact.contactName" maxlength="30" ng-maxlength="30" ng-required="true" class="form-control"/>
    <!--TODO: make this a directive --><span ng-show="contactForm.contactName.$dirty" class="text-error"><span ng-show="contactForm.contactName.$error.required">Field is required</span></span>
  </div>
  <div class="form-group">
    <label for="inputCompanyName">Company Name</label>
    <input id="inputCompanyName" type="text" name="companyName" placeholder="Enter company name" ng-model="currentContact.companyName" maxlength="30" ng-maxlength="30" ng-required="true" class="form-control"/>
    <!--TODO: make this a directive --><span ng-show="contactForm.companyName.$dirty" class="text-error"><span ng-show="contactForm.companyName.$error.required">Field is required</span></span>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <textarea id="inputAddress" name="address" placeholder="Enter mailing address" ng-model="currentContact.address" maxlength="50" ng-maxlength="50" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input id="inputEmail" type="email" name="email" placeholder="Enter contact email address" ng-model="currentContact.email" maxlength="30" ng-maxlength="30" ng-required="!currentContact.phone &amp;&amp; !currentContact.url" class="form-control"/>
    <!--TODO: make this a directive --><span ng-show="contactForm.email.$dirty" class="text-error"><span ng-show="contactForm.email.$error.email">Not a valid email address</span><span ng-show="contactForm.email.$error.required">Field is required</span></span>
  </div>
  <div class="form-group">
    <label for="inputPhone">Phone Number</label>
    <input id="inputPhone" type="tel" name="phone" placeholder="Enter contact phone number" ng-model="currentContact.phone" ng-pattern="phoneRegex" ng-minlength="7" ng-required="!currentContact.email &amp;&amp; !currentContact.url" class="form-control"/>
    <!--TODO: make this a directive --><span ng-show="contactForm.phone.$dirty" class="text-error"><span ng-show="contactForm.phone.$error.pattern">Unrecognized format</span><span ng-show="contactForm.phone.$error.required">Field is required</span><span ng-show="contactForm.phone.$error.minlength">Entered phone number is too short</span></span>
  </div>
  <div class="form-group">
    <label for="inputUrl">Website</label>
    <input id="inputUrl" type="url" name="url" placeholder="Enter website URL" ng-model="currentContact.url" ng-maxlength="30" ng-required="!currentContact.phone &amp;&amp; !currentContact.email" class="form-control"/>
    <!--TODO: make this a directive --><span ng-show="contactForm.url.$dirty" class="text-error"><span ng-show="contactForm.url.$error.url">Not a valid URL</span><span ng-show="contactForm.url.$error.required">Field is required</span></span>
  </div>
  <button ng-show="!!currentContact.id" ng-click="updateContact(currentContact, contactForm)" ng-disabled="!contactForm.$valid" ng-class="{ disabled: !contactForm.$valid }" class="btn btn-default btn-success">Update</button>
  <button ng-show="!currentContact.id" ng-click="addContact(currentContact, contactForm)" ng-disabled="!contactForm.$valid" ng-class="{ disabled: !contactForm.$valid }" class="btn btn-default btn-success">Create</button>
  <button ng-click="clearContact(contactForm)" class="btn btn-default btn-danger">Clear</button>
</form>